@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(137, 189, 235);
  background-color: #f7f5fb;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23434146' fill-opacity='0.07'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #04000c;
  font-family: 'Courier New', Courier, monospace;
  font-weight:700;
  display:flex;
  align-items:center;
  justify-content: center;
}

